#stackjs{
	font-family: sans-serif;
	display: block;
	width: 100%;
	margin: 0px;
	padding: 0px;
	font-size: 1em;
}

#stackjs input.stack_title {
	width: 65%;
	box-sizing: border-box;
}

#stackjs select.stack_sort {
	width: 33%;
	box-sizing: border-box;
	float: right
}

#stackjs input.stack_title,
#stackjs select.stack_sort {
	padding: 10px;
	color: #777;
	display: inline;
	margin: 0px;
	border: 1px solid #ddd;
	vertical-align:top;
}

#stackjs div.stack_output{
	display: none;
	background: #fff;
	margin: 0px;
	padding: 0px;
	height: auto;
	max-height: 300px;
	overflow-y: scroll;
	border: 1px solid #dcdcdc;
	position: absolute;
	box-sizing: border-box;
}

#stackjs div.stack_output div{
	margin: 0px;
	padding: 10px;
	border-bottom: 1px solid #dcdcdc;
	box-sizing: border-box;
}

#stackjs div.stack_output div p {
	margin: 0px;
	padding: 0px;
	padding-bottom: 5px;
}

#stackjs div.stack_output div span {
	margin: 0px;
	padding: 3px;
	font-size: 0.8em;
	margin-right: 20px;
	color: #39739d;
	background-color: #E1ECF4;
	border-color: transparent;
}

#stackjs div.stack_output div span.date {
	float: right;
	margin-right: 0px;
	padding: 0px;
	color: #999;
	background-color: transparent;
}

#stackjs div.stack_output a{
	color: #07C;
	text-decoration: none
}
